/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT_LAYER 0
#define GIT_LAYER 1
#define LOUNGE_LAYER  2
#define NUM_PAD 3

/ {
    macros {
        git: git {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp G &kp I &kp T>;
        };

        git_rebase: git_rebase {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp G &kp I &kp T &kp SPACE &kp R &kp E &kp B &kp A &kp S &kp E>;
        };

        git_rebase_i: git_rebase_i {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp G &kp I &kp T &kp SPACE &kp R &kp E &kp B &kp A &kp S &kp E &kp SPACE &kp MINUS &kp I>;
        };

        git_rebase_continue: git_rebase_continue {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp G &kp I &kp T &kp SPACE &kp R &kp E &kp B &kp A &kp S &kp E &kp SPACE &kp MINUS &kp MINUS &kp C &kp O &kp N &kp T &kp I &kp N &kp U &kp E>;
        };

        git_rebase_abort: git_rebase_abort {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp G &kp I &kp T &kp SPACE &kp R &kp E &kp B &kp A &kp S &kp E &kp SPACE &kp MINUS &kp MINUS &kp A &kp B &kp O &kp R &kp T>;
        };

        git_fetch: git_fetch {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp G &kp I &kp T &kp SPACE &kp F &kp E &kp T &kp C &kp H>;
        };

        git_pull: git_pull {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp G &kp I &kp T &kp SPACE &kp P &kp U &kp L &kp L>;
        };

        git_push: git_push {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp G &kp I &kp T &kp SPACE &kp P &kp U &kp S &kp H>;
        };

        git_push_force: git_push_force {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp G &kp I &kp T &kp SPACE &kp P &kp U &kp S &kp H &kp SPACE &kp MINUS &kp MINUS &kp F &kp O &kp R &kp C &kp E>;
        };

        ywl: ywl {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp Y &kp W &kp L>;
        };

        ywl_run: ywl_run {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <40>;
            tap-ms = <40>;
            #binding-cells = <1>;
            bindings = <&macro_tap &kp Y &kp W &kp L &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&tog NUM_PAD      &ywl          &git          &kp C_PREV
&mo GIT_LAYER     &kp C_VOL_UP  &kp C_BRI_UP  &kp C_PP
&mo LOUNGE_LAYER  &kp C_VOL_DN  &kp C_BRI_DN  &kp C_NEXT
            >;
        };

        git_layer {
            bindings = <
&trans  &git           &git_push             &git_push_force
&trans  &git_fetch     &git_pull             &none
&trans  &git_rebase_i  &git_rebase_continue  &git_rebase_abort
            >;
        };

        lounge_layer {
            bindings = <
&trans  &ywl_run A  &ywl_run I  &ywl_run W
&trans  &none       &none       &none
&trans  &none       &none       &none
            >;
        };

        num_layer {
            bindings = <
&trans    &kp N7  &kp N8  &kp N9
&trans    &kp N4  &kp N5  &kp N6
&lt 3 N0  &kp N1  &kp N2  &kp N3
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans
            >;
        };
    };
};
